<div class="container-fluid">
    <div class="row">
        <div style="height:92vh ;width: fit-content;" class="col-lg-2 bg-dark d-flex flex-column p-3">
            <a style="text-decoration: none;color: aliceblue; " class="fw-bolder mb-3" routerLink="/dashboard">HOME</a>
            <a style="text-decoration: none;color: aliceblue; " class="fw-bolder mb-3" routerLink="/users">USERS</a>

        </div>

        <div class="col-lg-10">
            <div style="height: 100%; " class="w-100 d-flex align-items-center justify-content-center flex-column ">
                <h2>Add User Form</h2>
                <form #addUserForm ="ngForm"   class="border rounded p-3 w-50 mt-5">
                    <div class="form-floating mb-3">
                        <input name="empId"  [(ngModel)]="user.empId" type="text" class="form-control" id="floatingInputId" placeholder="Id" pattern="[a-zA-Z0-9]*" required #empId="ngModel">
                        <label for="floatingInputnameId">Id</label>
                      </div>

                      <div class="mb-2 text-danger fw-bolder" *ngIf="empId.invalid && empId.touched">Invalid Employee Id</div>

                      <div class="form-floating mb-3">
                        <input name="name"  [(ngModel)]="user.name" type="text" class="form-control" id="floatingInputname" placeholder="Username" pattern="[a-zA-Z]*" required #empName="ngModel">
                        <label for="floatingInputname">Username</label>
                      </div>
                      <div class="mb-2 text-danger fw-bolder" *ngIf="empName.invalid && empName.touched">Invalid Employee Name</div>

                      <div class="form-floating mb-3">
                        <input name="email"  [(ngModel)]="user.email" type="email" class="form-control" id="floatingInputemail" placeholder="Enter your mail"  required #empEmail="ngModel">
                        <label for="floatingInputname">Email</label>
                      </div>
                      <div class="mb-2 text-danger fw-bolder" *ngIf="empEmail.invalid && empEmail.touched">Invalid Employee Email</div>
                      <div class="form-floating mb-3">
                        <select class="form-control" name="status" [(ngModel)]="user.status"   id="floatingInputStatus"
                        required #status="ngModel">
                         <option value="1">Active</option>
                         <option value="0">Inactive</option>
                        </select>
                         <label for="floatingInput">Status</label>
                       </div>
                       <div class="mb-3 text-danger" *ngIf="status.invalid&&status.touched"> invalid status</div>
                      <div class="text-center">
                        <button (click)="cancel()" class="btn btn-warning text-light m-5">Cancel</button>
                        <button (click)="addUser()" [disabled]="addUserForm.invalid" class="btn btn-success text-light m-5">Add</button>
                      </div>
                </form>
            </div>
        </div>
        </div>
        </div>
        
        <pre>
          {{user.empId}}
          {{user.name}}
          {{user.email}}
          {{user.status}}
        </pre>