<div class="container-fluid">
    <div class="row">
        <div style="height:92vh ;width: fit-content;" class="col-lg-2 bg-dark d-flex flex-column p-3">
            <a style="text-decoration: none;color: aliceblue; " class="fw-bolder mb-3" routerLink="/dashboard">HOME</a>
            <a style="text-decoration: none;color: aliceblue; " class="fw-bolder mb-3" routerLink="/users">USERS</a>
            <button class="btn mt-auto text-light fw-bolder">
                <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i> Logout</button>
        </div>
        <div class="col-lg-10">
       <h1>Welcome Admin</h1>
        </div>
    </div>
</div>
